.footer {
  position: relative;
  padding: 20px 0;
  color: #c1bdbd;
  text-align: center;
  background: var(--bg-footer);
  border-top: 1px solid var(--border-color);

  &.hasBg {
    color: var(--main-text-color);
    background: transparent;
  }
}

.nickName{
  color: currentColor;
  font-weight:300;
  font-size: 0.2rem;
  user-select: none;
}

.copyright {
  font-size: 10px;
  line-height: 15px;
}
